.full-width {
  width: 100% !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.hide {
  display: none !important;
}

.flex-container {
  display: flex;
}

.ant-picker-date-panel{
  z-index: 0;
}