<section class="body">

  <aside class="aside_container">

  </aside>


  <main>

    <div class="content">
      <div class="logo">
        <img src="../../../../assets/images/sisei_log.png" alt="">
      </div>
      <div class="form">
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
          <nz-form-item >
            <nz-form-control nzErrorTip="¡Por favor introduce tu usuario!" >
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="User" placeholder="Usuario" nzSize="large" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="¡Por favor introduce tu contraseña!">
              <nz-input-group  nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="Password" placeholder="Contraseña" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"> Inicia sesión </button>
        </form>

      </div>
    </div>

  </main>

</section>
