<nz-row nzJustify="center">
    <nz-divider nzText="Información de Contacto"></nz-divider>
    <nz-col nzSpan="12">
        <nz-card nzHoverable style="width:100%;">
            <p style="font-weight: bolder;">Correo Electronico: </p>
            <p>shtfp.etica.integridad@gmail.com
            </p>
            <p style="font-weight: bolder;">Direccion:</p>
            <p>Ciudad Administrativa (Edificio 2 “Rufino Tamayo" planta baja)
                Carretera Internacional Oaxaca-Istmo, km. 11.5 
                Tlalixta</p>
            <p style="font-weight: bolder;">Telefono:</p>
            <p>Tel. Conmutador 01(951) 501 50 00, Ext. 10479 O 10442</p>
        </nz-card>
    </nz-col>
    <nz-col nzSpan="11" nzOffset="1">
        <nz-card nzHoverable >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.970034953033!2d-96.6565292605286!3d17.055636325820146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c72471b7651de5%3A0xb1970ee37693265d!2sSecretaria%20De%20La%20Contraloria%20Y%20Transparencia%20Gubernamental!5e0!3m2!1ses-419!2smx!4v1620158589158!5m2!1ses-419!2smx" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </nz-card>
    </nz-col>
</nz-row>
