p{
    text-align: justify;
    width: 100%;
}

.bold{
    font-weight: bold;
}

[nz-tabset]{
    font-family:sans-serif;
}
.ant-tabs{
    font-family:sans-serif;
    font-size: 16px;
}

.ant-tabs-content {
    font-size: 16px;
}

a{
    color: rgb(0, 0, 0);
}

.titulo[_ngcontent-lyf-c405] {
    width: 10;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
}

.ant-row-center {
    justify-content: center;
}